node_modules
server/src/config/*
!server/src/config/*.d.ts
.env.prod
.idea
.DS_Store
*.pem
*.iml
static
sessions
dist
.vscode
newrelic_agent.log
.npmrc
*.gen.ts
CLAUDE.local.md
esp/secrets.yaml
esp/.esphome